<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BizBets</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Nav bar -->
    <header class="flex row nav-bg mb-96">
      <nav class="container flex row space-between align-center">
        <div class="nav-icon">
          <h1>BizBets</h1>
        </div>
        <div class="flex row gap-32">
          <button id="homeBtn" class="nav-btn">Home</button>
          <button id="inventoryBtn" class="nav-btn">Inventory</button>
          <button id="addToPotBtn" class="nav-btn">Add to Pot</button>
        </div>
      </nav>
    </header>

    <!-- Spin container -->
    <div id="spinContainer">
      <div class="container flex col align-center gap-32">
        <div id="crate-container" class="crate-container">
          <div class="slider-track" id="sliderTrack"></div>
          <div class="marker"></div>
        </div>

        <div id="closedCrate">
          <img
            src="{{ url_for('static', filename='images/crate.png') }}"
            alt="Crate Image"
          />
        </div>

        <form method="GET">
          <button id="openCrate" class="spin-btn">Spin</button>
        </form>
      </div>
    </div>

    <div id="wonContainer" style="display: none">
      <div class="container flex col align-center gap-32">
        <div>
          <div class="image-container-rarity">
            {% if business == 'The Restaurant' %}
            <img
              src="{{ url_for('static', filename='images/restaurant.png') }}"
              class="{{rarity}}-border-bottom"
              alt="The Restaurant"
            />

            {% elif business == 'The Flower Company' %}
            <img
              src="{{ url_for('static', filename='images/flower.png') }}"
              class="{{rarity}}-border-bottom"
              alt=""
            />

            {% elif business == 'Salon' %}
            <img
              src="{{ url_for('static', filename='images/salon.png') }}"
              class="{{rarity}}-border-bottom"
              alt=""
            />

            {% elif business == 'Coffee Cup' %}
            <img
              src="{{ url_for('static', filename='images/coffee-cup.png') }}"
              class="{{rarity}}-border-bottom"
              alt=""
            />

            {% elif business == 'Books Galore' %}
            <img
              src="{{ url_for('static', filename='images/book.png') }}"
              class="{{rarity}}-border-bottom"
              alt=""
            />

            {% else %}
            <img
              src="https://picsum.photos/200/300"
              class="{{rarity}}-border-bottom"
              alt="Default Business"
            />
            {% endif %}
          </div>
          <h1>
            Received {{ business.capitalize() }}: {{rarity.capitalize()}}
            Discount {{ prize }}!
          </h1>
          <button id="returnHome" class="spin-btn">Return Home</button>
        </div>
      </div>
    </div>

    <div id="companyContainer"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/prizes.js')}}"></script>
  </body>
</html>
