<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BizBets</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="flex row nav-bg">
      <nav class="container">
        <div class="nav-icon"></div>
        <a href=""></a>
      </nav>
    </header>

    <div class="container flex col align-center gap-32">
      <div id="crate-container" class="crate-container">
        <div class="slider-track" id="sliderTrack"></div>
        <div class="marker"></div>
      </div>

      <div id="wonImage">
        <img src="https://picsum.photos/200/200" />
        <p>Business x: Discount 25%</p>
      </div>

      <div>
        <img
          src="{{ url_for('static', filename='images/csgo-crate.png') }}"
          alt="Crate Image"
        />
      </div>

      <button id="openCrate" class="spin-btn">Spin</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
