<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="flex row nav-bg mb-128">
      <nav class="container">
        <div class="nav-icon"></div>
        <p>Hello</p>
        <p>World</p>
      </nav>
    </header>

    <section class="container flex col align-center gap-32">
      <div class="slider-container">
        <div class="slider" id="slider">
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />

          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
          <img src="https://picsum.photos/200/200" />
        </div>
      </div>

      <div>
        <img
          src="{{ url_for('static', filename='images/csgo-crate.png') }}"
          alt="Sample Image"
        />
      </div>

      <button id="spin-btn" class="spin-btn">Spin</button>
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
